* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 25px;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    margin-bottom: 10px;

    background: #1c1c1c;
    border-radius: 12px;
}

.song-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.song-title {
    font-size: 16px;
}

.song-duration {
    font-size: 13px;
    color: #888;
}

.play-button {
    border: none;
    background: white;
    color: black;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    cursor: pointer;
}